<div layout="row" layout-fill ng-cloak>
  <div layout="column" tabIndex="-1" role="main" flex>
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <h2 flex md-truncate>Drona</h2>
          </div>
        </md-toolbar>
    <md-content md-scroll-y layout="column" flex ui-view="main">

    </md-content>

  </div>

</div>





<md-toolbar layout="row" layout-align="center end">
  <span flex></span>
  <h2 class="md-toolbar-tools" layout-align="center center">
    <span class="md-flex">Powered by Grabpustak</span>
  </h2>
</md-toolbar>
