@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/MaterialIcons-Regular.woff) format('woff'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
/*body{
  background-color: #e9ebed;
}*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}


/************
 * DOCS MENU
 ************/

.site-sidenav {
  background: #2C3E50;
}

.site-sidenav md-content {
  background: transparent;
}

.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
}

.site-sidenav>* {
  min-width: 218px;
}

.docs-menu, .docs-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.docs-menu li {
  margin: 0;
}

.docs-menu>li:nth-child(1) {
  border-top: none;
}

.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.docs-menu>li {
  border-bottom: 1px solid #267ED5;
}

.docs-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

html[dir=rtl] .docs-menu .md-button, body[dir=rtl] .docs-menu .md-button {
  unicode-bidi: embed;
  text-align: right;
}

.docs-menu .md-button:hover, .docs-menu .md-button:focus {
  color: #3be6bc;
}

.docs-menu .md-button md-icon {
  color: white;
}

.docs-menu md-select {
  /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
    to not be scrollable.
  */
  margin: 0;
  width: 100%;
}

.docs-menu md-select md-select-label {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-top: 10px;
}

.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}

.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}

.docs-menu .md-button.active {
  background: #267ED5;
}

.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54)
}

html[dir=rtl] .menu-heading, body[dir=rtl] .menu-heading {
  unicode-bidi: embed;
  text-align: right;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 0;
}

.docs-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.parent-list-item:last-child {
  margin-bottom: 20px;
  /* Prevent the hidden License link from causing a double bottom-border */
  border-bottom: none;
}

.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.md-button-toggle .md-toggle-icon.toggled {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}


/* End Docs Menu */

.docs-logo {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0 16px;
  margin: 0 auto;
}

.docs-logo:focus {
  outline: none;
}

.docs-logo>img {
  height: 90px;
  padding: 3px;
  width: auto;
  display: block;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.nav-header {
  background-color: #2C3E50;
  border-bottom: 5px solid #fff;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  z-index: 2;
}

a.docs-logo {
  text-decoration: none;
  border-bottom: none;
  display: inline-block;
padding: 15px 15px;

}

.docs-logotype {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 26px;

}
.nav-header h1{
    margin:0;
}
.docs-menu-separator-icon {
  margin: 0;
}

.docs-menu-separator-icon img {
  height: 16px;
}

.input-group-addon {
  float: right;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#loading-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(220, 220, 220, 0.5);
}



.class-add .header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.class-add .select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.class-add md-content._md {
  max-height: 240px;
}

.md-datepicker-input{
  min-width: 160px !important;
}
.md-body-subt{
  font-weight: 600;
  font-size: 15px;
}


md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background: none;
  box-shadow: none;
  color: #282828;

}
