/* CUSTOM CSS */

.nav-header i{
  vertical-align: middle;
}
.nav-header a{
  font-size: 22px;
  color: #fff;
  vertical-align: middle;
  font-weight: bold;
}
md-toolbar{
  min-height: 50px;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background: #18BC9C;
  height: 80px;
  color: #fff;
}

md-toolbar h1{
  text-transform: uppercase;
  font-weight: bolder !important;
  font-size: 34px !important;
}
.md-toolbar-tools{
  margin:0 auto;
  height: 100%;
  max-height: 100%;

}
h2 .material-icons{
  vertical-align: baseline;
  font-size: 18px;
}
md-card md-card-title md-card-title-text:only-child .md-subhead{
  padding-top: 0;
}
.speech{
  font-size: 14px;
}
.md-headline a {
  vertical-align: sub;
  color: #ccc;
}
.md-headline a .material-icons{
  font-size: 20px;
}
md-card.md-default-theme, md-card{
  max-width: 24%;
}
.md-chips md-chip{
  border-radius: 0;
}
md-chips.md-default-theme .md-chips, md-chips .md-chips{
  box-shadow: none;

}
md-chips.md-default-theme md-chip, md-chips md-chip{
  background: #f6f6f6d1;
  color: #18bc9c;

}

@media(min-width:960px){
  .flex-gt-sm-90, .layout-row>.flex-gt-sm-90{
    max-width: 95%;
  }
}
