<!-- <div class="flashcardgame">
  <md-card>

          <md-card-title>
            <h1 class="md-display-1 center">happy</h1>
          </md-card-title>
          <md-card-content >

          </md-card-content>
          <md-card-actions layout="column" layout-align="start">

          </md-card-actions>
        </md-card>
</div> -->
<div class="vocabgame">
  <div class="left-arrow"><i class="material-icons">chevron_left</i></div>
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper">
  		<div class="front" ng-click="">
        <div class="flashcardgame">
          <md-card>
            <md-card-title>
              <h1 class="md-display-1 center">smile</h1>
              <br>


            </md-card-title>
            <div class="pronounce">
            <span class="speech">/smʌɪl/</span> <i class="material-icons">volume_up</i>
            </div>
            <md-card-content >

            </md-card-content>
            <md-card-actions layout="column" layout-align="start">

            </md-card-actions>
            </md-card>
        </div>
  		</div>
  		<div class="back">
        <div class="flashcardgame">
          <md-card>
            <md-card-title>
              <span class="meaning"><strong>[<span class="partofspeech"><em>verb</em></span>]form one's features into a pleased, kind, or amused expression, typically with the corners of the mouth turned up and the front teeth exposed.</strong></span>

            </md-card-title>
            <md-card-content >

            </md-card-content>
            <md-card-actions layout="column" layout-align="start">

            </md-card-actions>
            </md-card>
        </div>
  		</div>
  	</div>
  </div>
  <div class="right-arrow"><i class="material-icons">chevron_right</i></div>
</div>
