<div class="vocabgames">
  <md-card>
          <img ng-src="img/vocabulary.jpg" class="md-card-image" alt="Washed Out">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Vocab Flash Cards</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              In this game, a word will pop up and you have to guess its meaning. Once you make a guess, you can click on the Flash card to see its meaning.
            </p>
          </md-card-content>
          <md-card-actions layout="column" layout-align="start">
            <md-button ui-sref="dashboard.flashcard">Play this Game</md-button>

          </md-card-actions>
    </md-card>

</div>
