<section layout="row" flex>

       <md-content layout="row" layout-wrap>

          <md-card ng-repeat="word in words">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{word.word}}
                  <!-- <span class="speech">/smʌɪl/</span> -->
                  <a href="#"><i class="material-icons">volume_up</i></a></span>

                <span class="md-subhead"><em>{{word.meaning.partOfSpeech}}</em></span>
                <p>{{word.meaning.text}}</p>
              </md-card-title-text>

            </md-card-title>
            <md-card-actions layout="row" layout-align="end left">
              <md-chips>
                  <md-chip>{{word.difficulty}}</md-chip>
                  <md-chip>english</md-chip>
              </md-chips>
            </md-card-actions>
          </md-card>

       </md-content>
   </section>
