@import url('https://fonts.googleapis.com/css?family=Quicksand');

#wordbook-tooltip{
    padding: 15px !important;
    background: #fff;
    font-size:15px !important;
    line-height:20px !important;
    max-width: 600px;
    text-overflow: ellipsis;
    z-index: 1000;
    text-align: left;
    font-family: 'Quicksand', sans-serif!important;
    box-shadow: 1px 2px 12px rgba(0,0,0,0.85);
}

#wordbook-tooltip button{
    margin-right: 5px !important;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    border: chocolate;
    box-shadow: none;
    color: black;
    cursor: -webkit-grabbing;
    border:1px solid #18BC9C;
    border-radius: 5px;
    background: #fff;
    font-size:12px;
}
#wordbook-tooltip button:hover{
  background:#f0f0f08a;
  transition:ease-in 0.2s;
}

#wordbook-tooltip ol{
    padding: 8px 25px;

}


#wordbook-tooltip ol li{
  color: #212121;
  font-size:12px;
}

#wordbook-tooltip #more-info{
    margin-right: 5px !important;
    float: right !important;
}
#wordbook-tooltip span a{
  color:#18BC9C;
  text-decoration:none;
  font-weight:bold;
}
